{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 border rounded shadow-sm">
    <div class="row">
        <div class="col col-md-4">
            {% set missing_image = 'https://static.vecteezy.com/system/resources/previews/004/141/669/original/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'%}
            <img src={{restaurant.get('img_url') or missing_image}} class='img-fluid'/>
        </div>
        <div class="col col-md-8">
            {% if restaurant.get('url') %}
                <a href='{{restaurant.get("url")}}' class="h1 d-inline text-decoration-none" target="_blank" rel="noopener noreferrer">{{restaurant.get('name')}}</a>
            {% else %}
                <div class="h1 d-inline mb-1">{{restaurant.get('name')}}</div>
            {% endif %}
            {% if ratingsHTML %}<div class="d-block mb-2"><span class="text-danger mb-1">{{ratingsHTML|safe}}</span><span class="mb-1"> {{restaurant.get('review_count', 0)}} reviews</span></div>{% endif %}
            <div class="mb-2"><a class="btn btn-primary" href="{{url_for('calendar.edit_entry_page', entry_id=entry.id)}}">Edit</a>
                <form class="d-inline" method="POST" action="{{url_for('calendar.delete_entry', entry_id=entry.id)}}" id="delete-btn">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form></div>
            {% if restaurant.get('display_address') %}
            <p class="h5">
                {% for line in restaurant.get('display_address')%}
                {{line}}<br>
                {% endfor %}
                
                {% if restaurant.get('phone')%}
                {{restaurant.get('phone')}}
                {% endif %}
            </p>
            {% endif %}
            <div class="text-secondary">Date</div>
            <p class="h5">{{entry.date.strftime('%b %d, %Y')}}</p>
            {% if entry.amount %}
            <div class="text-secondary">Amount</div>
            <p class="h5">${{'%0.2f'|format(entry.amount)}}</p>
            {% endif %}
            <table class="table table-light table-striped border mt-4">
                <thead>
                    <tr><td class="table-light" colspan="2"><h5>Recent Visits</h5></td></tr>
                </thead>
                <tbody>
                {% for entry in recent_entries %}
                    <tr >
                        <td>{{entry.date.strftime("%B %d, %Y")}}</td>
                        <td>${{"%.2f"|format(entry.amount)}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.6.3.slim.min.js"
  integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/entry.js"></script>
{% endblock %}
