{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1>Add an Entry</h1>
    <form action="{{url_for('calendar.add_entry')}}" method="POST">
        <div class="form-group">
            {{ form.hidden_tag() }}
        
            <p>
                {{form.date.label}}
                {{form.date(class_="form-control")}}
            </p>
        
            <p>
                {{form.amount.label}}
                {{form.amount(class_="form-control")}}
            </p>
        
            <p>
                {{form.name.label}}
                {{form.name(class_="form-control")}}
            </p>
        
            <p>
                {{form.yelp_id.label}} <button type='button' class='btn btn-sm btn-danger m-2' id='search-yelp'>Search Yelp</button>
                {{form.yelp_id(class_="form-control")}}
                {% for error in form.yelp_id.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </p>
        </div>
        <button type="submit" class="btn btn-primary">Add Entry</button>
    </form>
</div>
{% endblock %}
