{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 entry-form border rounded shadow-sm">
    <h1>Add an Entry</h1>
    <form action="{{url_for('calendar.add_entry')}}" method="POST">
        <div class="form-group">
            {{ form.hidden_tag() }}
        
            <p>
                {{form.date.label}}
                {{form.date(class_="form-control")}}
            </p>
        
            <p>
                {{form.amount.label}}
                {{form.amount(class_="form-control")}}
            </p>
        
            <p>
                {{form.name.label}}
                {{form.name(class_="form-control")}}
            </p>

            <p>
                <label for="location">Location (Used for Yelp Search)</label>
                <input class="form-control" id="location" placeholder="ie. San Francisco">
                <button type='button' class='btn btn-sm btn-danger my-2' id='search-yelp'>Search Yelp</button>
            </p>
        
            <p>
                {{form.yelp_id.label}} 
                {{form.yelp_id(class_="form-control")}}
                {% for error in form.yelp_id.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </p>
        </div>
        <button type="submit" class="btn btn-primary">Add Entry</button>
    </form>
    <div class="modal fade " id="search-yelp-modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="search-yelp-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Results</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="spinner-border m-5" id="spinner" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id="results">
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.6.3.slim.min.js"
  integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/entry.js"></script>
{% endblock %}
